
*{
	padding: 0;
	margin: 0;
	font-size: 15px;
	background-color: #fff;
}
/*
.navi{

    position: fixed;
    top: 0;
	height: 44px;
	width: 100%;
	text-align: center;
	line-height: 44px;
	background-color: #f00;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.back-btn{

	margin-left: 10px;
	margin-top: 7px;
	height: 30px;
	width: 50px;
	padding-left: 0px;
	background-color: #f00;
}

.back-img{
	margin-left: -20px;
	height: 30px;
	width: 30px;
	background-color: #f00;
}

.back-btn::after {
    border: none;
}

.title{

	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #f00;
}
*/

.content{

	margin-top: 5px;
	/*margin-top: 50px;*/

}

p{
	margin: 0 0 0 0;
	padding: 0 5px 0px 5px;
	line-height: 27px;
}

.p0::before{
   
   content: "党史:";
   font-weight: bold;
   font-size: 16px;

}

.p-title{

   	text-indent: 30px;
   	font-weight: bold;


}

.p-title-center{
	text-align: center;
	font-weight: bold;
}

.p-content{

	text-indent: 30px;
}










